<%= link_to 'Show all', :boards %>
<h2>Task detail</h2>
        <div><%= link_to 'Back to board', board_path(@task.story.board_id) %></div>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Text:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>
