<%= link_to 'All articles', controller: 'articles' %>
<%= link_to 'Create new', :new_article %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Update', edit_article_path(@article) %></td>
        <td><%= link_to 'Delete', article_path(article) %></td>
      </tr>
  <% end %>
</table>