<%= link_to 'Show all', :boards %>
<h2>Story detail</h2>
        <div><%= link_to 'Back to board', board_path(@story.board_id) %></div>
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.body %>
</p>
<h3>Create new Task for this story</h3>
<%= render 'tasks/edit' %>

<h3>Tasks for this story</h3>
<% @story.tasks.each do |task| %>
  <p>
    
    <b><%= task.id %> - <strong><%=t('models.task.title')%>:</strong> <%= task.title %></b>
  </p>
    <p>
    <strong><%=t('models.task.completed')%>:</strong>
    <%= task.completed %>
  </p>
  <p>
    <strong><%=t('body')%>:</strong>
    <%= task.body %>
  </p>
  <%=t('models.task.created_at')%>
  <%= task.created_at %> 
          <ul>
        <li><%= link_to t('show'), task_path(task) %></li>
        <li><%= link_to t('modify'), edit_task_path(task) %></li>
        <li><%= link_to t('delete'), task_path(task),
                      method: :delete,
                      data: { confirm: t('are-you-sure') } %></li>
        </ul>
<% end %>
