<%= link_to 'Show all', :boards %>
<h2>Story detail</h2>
        <div><%= link_to 'Back to board', board_path(@story.board_id) %></div>
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.body %>
</p>

<h3>Tasks for this story</h3>
<%= render 'tasks/edit' %>