<h1><%=t('edit-board')%></h1>
 
<%= form_for(@board) do |f| %>
 
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@board.errors.count, "error") %> prohibited
        this board from being saved:
      </h2>
      <ul>
        <% @board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label t(:title) %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label t(:text) %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit t('update-board') %>
  </p>
 
<% end %>
 
<%= link_to t('back'), boards_path %>