<%= link_to t('all-boards'), controller: 'boards' %>
<%= link_to t('create-new'), :new_board %>
<table>
  <tr>
    <th><%=t('title')%></th>
    <th><%=t('text')%></th>
  </tr>

  <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.text %></td>
        <td><%= link_to t('show'), board_path(board) %></td>
        <td><%= link_to t('modify'), edit_board_path(board) %></td>
        <td><%= link_to t('delete'), board_path(board),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>