<%= link_to 'All Boards', controller: 'boards' %>
<%= link_to 'Create new', :new_board %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.text %></td>
        <td><%= link_to 'Show', board_path(board) %></td>
        <td><%= link_to 'Update', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board_path(board),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>